.authorization-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.select-auth {
    padding: 2rem;
    text-align: center;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.log-in {
    background-color: #0077ff;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.log-in:hover {
    background-color: #0066cc;
}

.sign-in {
    background-color: #fff;
    color: #0077ff;
    border: 2px solid #0077ff;
    border-radius: 0.5rem;
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sign-in:hover {
    background-color: #0077ff;
    color: #fff;
}
